* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    display: grid;
    grid-template-columns: auto 1024px auto;
    grid-template-rows: auto auto;
}
header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
header h1 {
    grid-column: 1/2;
}
header img {
    grid-column: 2/3;
}
main {
    grid-column: 2/3;
    grid-row: 2/3;
}